:root {
    --bg: #fafafa;
    --text: #333;
    --bar-bg: #c2c2c2;
    --console-bg: #222;
    --console-bg-hover: #262626;
    --console-fg: #0e0;
    --error-bg: #ffc8c8;
    --error-fg: #b20000;
    --conn-no: #c00;
    --info-bg: #ccf;
    --info-fg: #00c;
    --success-bg: #c0fdc0;
    --success-fg: #01b101;
    --conn-yes: #0c0;
    --warning-bg: #ffffb3;
    --warning-fg: #a8a800;
    --font-size: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #444;
        --text: #fafafa;
        --bar-bg: #333;
        --error-fg: #ffc8c8;
        --error-bg: #b20000;
        --info-fg: #ccf;
        --info-bg: #00c;
        --success-fg: #c0fdc0;
        --success-bg: #01b101;
        --warning-fg: #ffffb3;
        --warning-bg: #a8a800;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    overflow: hidden;
    font-size: var(--font-size);
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#tasmota-tab {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100px;
    max-width: 100%;
    min-height: 50px;
    max-height: 75vh;
    overflow-y: auto;
    background-color: var(--bg);
    font-size: var(--font-size);
    color: var(--text);
    padding: 20px;
    transform: translateX(0);
    transition: 300ms ease-in-out;
}

#tasmota-tab::-webkit-scrollbar {
    width: 20px;
}

#tasmota-tab::-webkit-scrollbar-track {
  background-color: var(--bg);
}

#tasmota-tab::-webkit-scrollbar-thumb {
  background-color: var(--bar-bg);
  cursor: pointer;
  border-bottom: 1px solid var(--text);
  border-top: 1px solid var(--text);
  transition: 200ms ease-in-out;
}

#tasmota-tab::-webkit-scrollbar-thumb:hover {
  border-top: 1px solid var(--console-fg);
  border-bottom: 1px solid var(--console-fg);
}

#tasmota-tab.hidden {
    transform: translateX(100%);
    transition: 300ms ease-in-out;
}

#tasmota-tab > div {
    margin-bottom: calc(var(--font-size) * 0.85);
    width: max-content;
}

#tasmota-tab > div:last-child {
    margin-bottom: none;
}

#tasmota-tab > div > h3 {
    width: 100%;
    text-align: center;
    margin-top: calc(var(--font-size) / 3 * 2);
}

#tasmota-tab > div > li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 3px;
    display: flex;
}

#tasmota-tab > div > li > p:first-child {
    margin-right: 10px;
    flex-grow: 1;
}

#tasmota-tab > div > li > div,
#tasmota-tab > div > li > p:last-child {
    flex-grow: 2;
}

#tasmota-tab > div > li > div {
    display: flex;
    justify-content: flex-start;
}

#tasmota-tab .checkradio,
#tasmota-tab .colorpoint {
    width: var(--font-size);
    height: var(--font-size);
    border-radius: 50%;
}

#tasmota-tab .checkradio.checked {
    box-shadow: inset 0 0 0 2px var(--conn-yes), inset 0 0 0 4px var(--bg);
    background-color: var(--conn-yes);
}

#tasmota-tab .checkradio.unchecked {
    box-shadow: inset 0 0 0 2px var(--conn-no), inset 0 0 0 4px var(--bg);
    background-color: var(--conn-no);
}

#tasmota-tab .bar {
    min-width: calc(var(--font-size) * 7);
    min-height: calc(var(--font-size) - 2px);
    background-color: var(--bar-bg);
    position: relative;
    overflow: hidden;
}

#tasmota-tab .bar > span {
    min-width: 5px;
    height: 100%;
    background-color: var(--console-fg);
    position: absolute;
    left: 0;
    top: 0;
}

nav {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--bg);
    width: 100%;
}

nav > h1 {
    font-size: 28px;
    font-weight: 800;
}

nav .zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 15px;
}

nav .zoom button {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border: 1px solid var(--text);
    color: var(--text);
    background-color: var(--bar-bg);
    border-radius: 5px;
    margin-left: 10px;
    transition: 200ms ease-in-out;
    font-weight: 800;
}

nav .zoom button.tasmota {
    padding: 3px;
}

nav .zoom button.tasmota div {
    width: 100%;
    height: 100%;
    background-color: var(--text);
    -webkit-mask: url("/static/tasmota-logo.svg") no-repeat center;
    mask: url("/static/tasmota-logo.svg") no-repeat center;
    transition: 200ms ease-in-out;
}

nav .zoom button:hover {
    border: 1px solid var(--console-fg);
    color: var(--console-fg);
    background-color: var(--bar-bg)
}

nav .zoom button.tasmota:hover div {
    background-color: var(--console-fg);
}

#message {
    width: 100%;
    padding: calc(var(--font-size) / 2) var(--font-size);
    font-size: var(--font-size);
}

#message[data-stylized="error"] {
    background-color: var(--error-bg);
    color: var(--error-fg);
}

#message[data-stylized="warn"] {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}

#message[data-stylized="info"] {
    background-color: var(--info-bg);
    color: var(--info-fg);
}

#message[data-stylized="success"] {
    background-color: var(--success-bg);
    color: var(--success-fg);
}

#message[data-visibility="hidden"] {
    display: none;
}

#message[data-visibility="visible"] {
    display: block;
}

#console {
    max-width: 100vw;
    width: 100%;
    max-height: 100%;
    flex-grow: 1;
    background-color: var(--console-bg);
    color: var(--console-fg);
    font-size: var(--font-size);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: calc(var(--font-size) * 3 / 4) calc(var(--font-size) * 3 / 2);
    font-family: monospace;
    cursor: crosshair;
    scrollbar-width: auto;
    scrollbar-color: var(--bg) var(--bar-bg);
}

#console::-webkit-scrollbar {
    width: 20px;
}

#console::-webkit-scrollbar-track {
  background-color: var(--bar-bg);
}

#console::-webkit-scrollbar-thumb {
  background-color: var(--bg);
  cursor: pointer;
  border-bottom: 1px solid var(--text);
  border-top: 1px solid var(--text);
  transition: 200ms ease-in-out;
}

#console::-webkit-scrollbar-thumb:hover {
  border-top: 1px solid var(--console-fg);
  border-bottom: 1px solid var(--console-fg);
}

#console > p {
    max-width: 100%;
    width: 100%;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--font-size);
    background-color: transparent;
    transition: 200ms ease-in-out;
}

#console > p:hover:not(:first-child):not(:nth-child(2)) {
    background-color: var(--console-bg-hover);
}

#console > p > p {
    min-width: none;
    min-height: none;
    overflow: hidden;
    overflow-wrap: break-word;
}

#console > p > .time {
    grid-area: 1 / 1 / 2 / 2;
}

#console > p > .topic {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
}

#console > p > .load {
    grid-area: 1 / 3 / 2 / 4;
    text-align: left;
}
