:root {
    --bg: #fafafa;
    --text: #333;
    --console-bg: #222;
    --console-fg: #0e0;
    --error-bg: #fcc;
    --error-fg: #c00;
    --info-bg: #ccf;
    --info-fg: #00c;
    --success-bg: #cfc;
    --success-fg: #0c0;
    --warning-bg: #ffc;
    --warning-fg: #cc0;
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    overflow: hidden;
    font-size: var(--font-size);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

nav > h1 {
    font-size: 28px;
    font-weight: 800;
}

#message {
    width: 100%;
    padding: 10px 20px;
    font-size: 25px;
}

#message[data-stylized="error"] {
    background-color: var(--error-bg);
    color: var(--error-fg);
}

#message[data-stylized="warn"] {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}

#message[data-stylized="info"] {
    background-color: var(--info-bg);
    color: var(--info-fg);
}

#message[data-stylized="success"] {
    background-color: var(--success-bg);
    color: var(--success-fg);
}

#message[data-visibility="hidden"] {
    display: none;
}

#message[data-visibility="visible"] {
    display: block;
}

#console {
    max-width: 100vw;
    width: 100%;
    max-height: 100%;
    flex-grow: 1;
    background-color: var(--console-bg);
    color: var(--console-fg);
    font-size: var(--font-size);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: 15px 30px;
    font-family: monospace;
    cursor: crosshair;
}

#console > p {
    max-width: 100%;
    width: 100%;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

#console > p > p {
    min-width: none;
    min-height: none;
    overflow: hidden;
    overflow-wrap: break-word;
}

#console > p > .time {
    grid-area: 1 / 1 / 2 / 2;
}

#console > p > .topic {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
}

#console > p > .load {
    grid-area: 1 / 3 / 2 / 4;
    text-align: left;
}
