<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT Listener</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">
    <link rel="manifest" href="./static/site.webmanifest">
    <link rel="mask-icon" href="./static/safari-pinned-tab.svg" color="#00ee00">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="theme-color" content="#00ee00">
    {% assets "style_bundle" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "script_bundle" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
</head>
<body>
    <nav>
        <h1>MQTT Listener</h1>
        <div class="zoom">
            <button id="btn-plus">+</button>
            <button id="btn-minus">-</button>
        </div>
    </nav>
    <p id="message" data-visibility="hidden"></p>
    <div id="console"></div>
</body>
</html>